body {
    background-color:#36454f;
    padding: 40px;
}
h1 {
	text-align: center;
	font-family: 'Bangers', cursive;
	font-weight: 900;
	font-size: 4.5em;
	color: white;
}
/*section {
	background-color:#02D4C8;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;

}*/
